<h1> <%= @category.title %> </h1>
<ul>

<li><%= link_to "Edit Category", edit_category_path %></li>
<li><%= link_to "Delete Category", category_path(@category),
                      :data => {:confirm => "Delete?"},
                      :method => "delete"
                      %></li>
</ul>
